@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    cursor: pointer;
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

.Button {
  margin: 10px auto;
  text-align: center;
  &_link {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    padding: 20px 10px;
    border-radius: 3px;
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    &-success {
      @include button-bg(#2ecc71);
    }
    &-blue {
      @include button-bg(#3498db);
    }
    &-warn{
      @include button-bg(#f1c40f);
    }
    &-danger {
      @include button-bg(#e74c3c);
    }
  }
}

