@import "../../constants/colors";

.passwordReset {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  &_title {
    color: $color-dark;
    margin: 0;
    padding: 0 0 25px;
    text-align: center;
    border-bottom: 1px solid $color-pink;
  }

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}