@import "../../../constants/colors";

.forgotPasswordForm {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  align-items: center;
  align-content: center;
  &_title {
    border-bottom: 1px solid $color-pink;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    color: $color-dark;
  }

  &_field {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
    }

    &__error {
      color: $color-pink;
    }

    &__label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &:hover {
        cursor: pointer;
      }

      input {
        width: 20px;
        height: 20px;
        &:hover {
          cursor: pointer;
        }
      }

      &--text {
        padding-left: 10px;
        font-size: 16px;
      }

      &--link {
        color: $color-primary400;
        transition: 300ms color ease-in-out;
        &:hover {
          color: $color-primary800;
        }
      }
    }
  }

  &_submit {
    background-color: $color-bg;
    border: 1px solid $color-pink;
    outline: none;
    padding: 10px 0;
    transition: 300ms box-shadow ease-in-out;
    &:hover {
      animation: buttonHover 300ms ease-in-out;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0,0,0, .3);
    }
  }

  .error {
    font-size: 14px;
    &-danger {
      color: $color-pink;
    }

    &-warn {
      color: $color-warn;
    }
  }
}

@keyframes buttonHover {
  0% {transform: rotate(1deg);}
  25% {transform: rotate(-1deg);}
  50% {transform: rotate(1deg);}
  75% {transform: rotate(-1deg);}
  100% {transform: rotate(1deg);}
}