$color-violet: #7E57C2;
$color-primary400: #7e57c2;
$color-primary600: #5e35b1;
$color-primary800: #4527a0;

$color-dark: #455A64;
$color-success: #3ABC52;
$color-warn: #bc8a3c;
$color-white: #FFFEFF;
$color-pink: #E10174;
$color-bg: #EDF1F7;
$color-table-nth: #EAEFF8;
$color-tableText: #A1A1A2;