@import "../../constants/colors";

.checkBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  &_label {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }

    &__input {
      width: 20px!important;
      height: 20px!important;
      &:hover {
        cursor: pointer;
      }
    }

    &__text {
      color: $color-dark;
      white-space: nowrap;
      padding-left: 15px;
      font-size: 18px;
    }
  }

  &_error {
    color: $color-pink;
  }
}