@import "../../constants/colors";

.confirmRegister {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  &_error {
    color: $color-pink;
  }

  &_complete {
    color: $color-success;
  }
}